.icon {
  &-clock,
  &-ethereum {
    margin-right: 0.5em;
  }

  &-ethereum {
    @include icons(11px, 18px);
  }

  &-clock {
    @include icons(16px, 16px);
  }

  &-avatar {
    @include icons(33px, 33px);
    border: 1px solid var(--colour-white);
    border-radius: 20px;
    margin-right: 0.75em;
  }
}
