main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: var(--colour-cardBg);
  width: 327px;
  border-radius: 19px;
  padding: 1.5em 1.4em;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  width: 278px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// media query for larger screens
@media (min-width: 376px) {
  main {
    width: 350px;
  }

  .container {
    width: 302px;
  }
}

.nft,
h2,
p,
.detail-creator {
  grid-column: 1 / -1;
}

.nft {
  height: 302px;
  background: url("../images/image-equilibrium.jpg");
  background-size: cover;

  &__overlay {
    @include fbox(center, center);
    opacity: 0;
    height: 100%;
    transition: opacity 0.4s;

    &:hover {
      transform: opacity 0.4s linear;
      opacity: 1;
      cursor: pointer;
      background: rgba(0, 255, 247, 0.4);
    }
  }
}

.nft,
.nft__overlay {
  border-radius: 8px;
}

.detail {
  &-price {
    @include fbox(flex-start, center, 1.25em);
  }

  &-time {
    @include fbox(flex-end, center, 1.25em);
  }

  &-creator {
    @include fbox(flex-start, center, 0px, 1em);
    border-top: 1px solid var(--colour-line);
  }
}
